<div class="container">
  <div class="form-group">
    <mat-radio-group id="period" aria-label="Select an option" [(ngModel)]="period"
      [ngModelOptions]="{standalone: true}" (change)="setDates()">
      <mat-radio-button value="0">Date</mat-radio-button>
      <mat-radio-button value="1">1 Month</mat-radio-button>
      <mat-radio-button value="3">3 Months</mat-radio-button>
      <mat-radio-button value="6">6 Months</mat-radio-button>
      <mat-radio-button value="12">Year</mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="form-group">
    <label for="startDate">Start Date</label>
    <input type="date" class="form-control" id="startDate" required [(ngModel)]="startDate" name="startDate" />
  </div>

  <div class="form-group">
    <label for="endDate">End Date</label>
    <input type="date" class="form-control" id="endDate" required [(ngModel)]="endDate" name="endDate" />
  </div>

  <button (click)="submitDownloadGmailFileRequest()" class="btn btn-success">Download</button>
</div>