.submit-form {
  max-width: 700px;
  margin: auto;
  padding-top: 30px;
}

.download-form {
  padding-top: 30px;
}

.download-report {
  height: 500px;
}

#download-report-image {
  width: 328px;
  height: 341px;
  background-image: url('/assets/images/download-report-image.png');
  /* The image used */
  background-color: lightgray;
  /* Used if the image is unavailable */
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
}

#json-box {
  width: 406px;
  height: 274px;
  border: 1.5px solid #F05757;
  position: absolute;
  right: 0px;
  background: rgba(240, 87, 87, 0.1);
  border-radius: 4px;
}

.copy-button {
  position: absolute;
  right: 0;
  bottom: 0;
}

#download-box {
  width: 307px;
  height: 274px;
  border-radius: 6px;
  border: 1px dashed #3C9F46;
  background: #E6FBE8;
  position: relative;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.center-icon {
  top: 35%;
}

.download-icon {
  width: 50px;
  height: 50px;
}

.downloaded-message {
  color: #3C9F46;
  font-family: Montserrat;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

input {
  border: none;
  border-bottom: 2px solid black;
}

.submit-button {
  background: #F05757;
  border-radius: 5px;
  width: 150px;
  height: 40px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;

  color: #FFFFFF;
}

.reset-button {

  box-sizing: border-box;

  width: 150px;
  height: 40px;

  background: #FFFFFF;
  border: 1px solid #F05757;
  border-radius: 5px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;

  color: #F05757;
}