.navbar-profile {
    width: 39px;
    height: 39px;
    flex-shrink: 0;
    border-radius: 39px;
    background: url('/assets/images/profile.png'), lightgray 50% / cover no-repeat;
}

.active {
    border-bottom: 2px solid green !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: black !important;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    border-bottom: 2px solid lightgray;
    margin-right: 5px;
}

.container-fluid {
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 4px 6px -6px #222;
}

.mt-3 {
    box-shadow: 5px 5px 5px 5px lightgray;
}

.app-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    text-align: center;

    color: #000000;
}