<div>
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="/assets/images/logo.svg">
      </a>
      <h2 class="">{{title}}</h2>
      <a href="#">
        <img class="navbar-profile" src="/assets/images/profile.png">
      </a>
    </div>
  </nav>
  
  <nav class="navbar navbar-expand navbar-dark">
    <div class="navbar-nav mx-auto">
      <li class="nav-item">
        <a routerLink="initiate-report-processing" class="nav-link" routerLinkActive="active">Initiate Report Processing</a>
      </li>
      <li class="nav-item">
        <a routerLink="download-report" class="nav-link" routerLinkActive="active">Download Report</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
