.submit-form {
  margin: auto;
  padding-top: 10px;
}

#userType,
input {
  border: none;
  border-bottom: 2px solid black;
}

#period {
  background: #FFF2EE;
  padding: 5px;
  padding-bottom: 10px;
}

input[type="file"] {
  position: relative;
  border-style: dashed;
  display: inline-block;
  content: "Choose File";
  padding: 8px;

  background: #FFF2EE;
  border: 1px dashed #FF7347;
  border-radius: 3px;
}

.submit-button {
  background: #F05757;
  border-radius: 5px;
  border: 1px solid #F05757;
  width: 150px;
  height: 40px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  text-align: center;
  text-transform: uppercase;

  color: #FFFFFF;
}

.reset-button {

  box-sizing: border-box;

  width: 150px;
  height: 40px;

  background: #FFFFFF;
  border: 1px solid #F05757;
  border-radius: 5px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  text-align: center;
  text-transform: uppercase;

  color: #F05757;
}

.right-column {
  padding-left: 75px;
}

:host /deep/ .mdc-label {
  padding-top: 10px !important;
}

:host /deep/ .mat-icon {
  padding-top: 5px !important;
}

.form-group {
  margin-left: 40px;
  width: 465px;
}

.mandatory {
  margin-left: 5px;
  color: red;
}

.error-message {
  color: red;
}