<div>
  <div class="submit-form">
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label for="userType">User Type</label>
          <select class="form-control" id="userType" required [(ngModel)]="downloadForm.userType" name="userType">
            <option value="manager">Manager</option>
            <option value="hr">HR</option>
            <option value="employee">Employee</option>
          </select>
        </div>

        <div class="form-group">
          <label for="corporateEmail">Corporate Email</label>
          <input type="text" class="form-control" id="corporateEmail" required [(ngModel)]="downloadForm.corporateEmail"
            name="corporateEmail" />
        </div>

        <div class="form-group">
          <label for="startDate">Start Date</label>
          <input type="date" class="form-control" id="startDate" required [(ngModel)]="downloadForm.startDate"
            name="startDate" />
        </div>

        <div class="form-group">
          <label for="endDate">End Date</label>
          <input type="date" class="form-control" id="endDate" required [(ngModel)]="downloadForm.endDate"
            name="endDate" />
        </div>

        <div class="form-group">
          <mat-radio-group aria-label="Select an option" [(ngModel)]="downloadForm.period">
            <mat-radio-button value="1">1 Month</mat-radio-button>
            <mat-radio-button value="3">3 Months</mat-radio-button>
            <mat-radio-button value="6">6 Months</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="gmailAvailabilityMessagesFile">Gmail Availability Messages</label>
          <input type="file" class="form-control" (change)="selectGmailAvailabilityMessagesFile($event)"
            id="gmailAvailabilityMessagesFile" required [(ngModel)]="downloadForm.gmailAvailabilityMessagesFile"
            name="gmailAvailabilityMessagesFile" />
        </div>

        <div class="form-group">
          <label for="zohoProfilesFile">Zoho Profiles File</label>
          <input type="file" class="form-control" (change)="selectZohoProfilesFile($event)" id="zohoProfilesFile"
            required [(ngModel)]="downloadForm.zohoProfilesFile" name="zohoProfilesFile" />
        </div>

        <div class="form-group">
          <label for="zohoLeavesFile">Zoho Leaves File</label>
          <input type="file" class="form-control" (change)="selectZohoLeavesFile($event)" id="zohoLeavesFile" required
            [(ngModel)]="downloadForm.zohoLeavesFile" name="zohoLeavesFile" />
        </div>
        <br />
        <br />
        <br />

        <button (click)="reset()" class="btn btn-primary">Reset</button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button (click)="initiateReportProcessing()" class="btn btn-danger">Submit</button>
      </div>
    </div>
  </div>
</div>